<?xml version="1.0" encoding="UTF-8"?>
<HelpEnabledDialogs>
  
  <HelpEnabledDialog>
    <DialogId>77B1A8B85955957DDDB967A36262A3C145B682D5</DialogId>
    <DialogName>Block Details dialog_Translatable</DialogName>
    <HelpButtonAlignment>BottomLeft</HelpButtonAlignment>
    <MarginRequired>None</MarginRequired> <!--Top|Bottom|Right|Left|None -->
    <HelpInfoEntries>
      <HelpInfoEntry>
        <FeatureId>31BC375D391165622ECAF61182351E76C4159391</FeatureId>
        <ShortInfo>Informatie over de vereiste Gegevens tab_Translatable</ShortInfo>
        <DetailedInfo></DetailedInfo>
        <VideoURL>link not to translate</VideoURL>
        <MoreDetailsURL></MoreDetailsURL>
      </HelpInfoEntry>
    </HelpInfoEntries>  
  </HelpEnabledDialog>
  
  
</HelpEnabledDialogs>